<h1>Game <%= @game.id %></h1>

<div class="square">
  <% @game.word.value.chars.each do |letter| %>
    <div class="letter <%="target" if letter == @game.target_letter%>"><%= letter %></div>
  <% end %>
</div>

<div class="turn-form">
  <%= render partial: 'turns/new' %>
</div>
